pyyaml
sqlalchemy
fastapi[standard]
psycopg2-binary
python-dotenv
redis
pgvector
tiktoken
openai
numpy
rich
volcengine-python-sdk[ark]
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-prometheus
typeguard
